# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales (uv, venv, etc.)
.venv/
venv/
env/

# Archivos de logs o temporales
*.log

# Archivos de sistema operativo (Mac/Windows)
.DS_Store
Thumbs.db

kb/kb-profe.txt